* {
box-sizing: border-box;
}

.block1 {
    background-color: aquamarine;
    height: 100vh;
    padding: 15px;

}

.block2 {
    border: solid 5px yellow;
    height: calc(100vh - 50px);
    overflow: hidden;
}

.block3 {
    height: 5%;
    background-color: yellow;
    padding: 0 50px;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    transform: rotate(45deg);
    position: relative;
    top: 50px;
    right: -60px;
}